body {
  font-size: 9pt;
  padding: 0px 0px 0px 0px;
  }
#edit_view {
	position: relative;
	left: 0px;
	top: 5px;
	}
#edit_menu {
	position: absolute;
  z-index: 2;
  }
#editor {
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
  }
#cursor {
	position: absolute;
	z-index: 0;
	left: 0px;
	top: 0px;
  }
